* {
    font-family: 'Berlin MD', sans-serif;
}

img {
    height auto;
    width: 500px;
}

h1 {
    color: brown;
}

.description {
    background-color: darkcyan;
    color: white;
}

.ingredients {
    background-color: darkgoldenrod;
    color: white;
}

.instructions {
    background-color: darkgreen;
    color: white;
}